
.backmain{
    background-color: rgba(206, 249, 235, 0.918);
   
}
body{
    margin: 0;
    text-align: center;
}
h1{
    margin: 0;
    font-family:Sacramento,sans-serif;
    text-align: center;
    padding-top: 100px;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.cloud{
    height: 100px;
    width:100px;
    position: absolute;
    left:190px;
    top:150px;
}
.cloud1{
    height: 100px;
    width:100px;
    position: absolute;
    right: 250px;
    top:50px;
}
.earth{
    position: static;
    align-items: center;
  
}
.girl{
    height: 150px;
    width: 150px;
    border-radius: 5px;
}
.hobb{
    height: 150px;
    width: 150px;
    
}
.skills{
    height: 150px;
    width: 150px;
    
}
.girl-main{
    position: absolute;
    left:10px;
    top:10px;
    height: 100px;
    width: 100px;
}
.about{
    position: absolute;
    right: 350px;
    top:40px;
    color: rgb(2, 185, 136);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
.home{
    position: absolute;
    right: 250px;
    top:40px;
    color: rgb(2, 155, 114);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}
.work{
    position: absolute;
    right: 150px;
    top:40px;
    color: rgb(1, 123, 91);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}